.login-form {
  max-width: 320px;
  margin: 70px auto;
  &.has-error {
    input {
      border: 2px solid $error-color !important;
    }
  }
  .card {
    border-top: 3px solid $bs-primary;
  }
  .logo {
    max-width: 55px;
    margin-bottom: 25px;
    img {
      display: block;
      width: 100%;
    }
  }
  .form-group {
    width: 100%;
    label {
      display: block;
      margin-bottom: 10px;
    }
    input {
      border-radius: 6px;
      margin-right: 0;
      max-width: 100%;
    }
    button {
    }
  }
}
